<script>
$(document).ready(function () {
  $('#tutorial-button').on('click', function (event) {
    event.preventDefault();
    localTour.start();
  });
});
</script>

<h1>Predictions</h1>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th id="prediction-statements">Statement</th>
      <th>Average Probability</th>
      <th>Deadline</th>
    </tr>
  </thead>
  <tbody>
    <% count = 0 %>

    <% @predictions.each do |prediction| %>
    <% count += 1 %>
      <tr>
        <td><%= count %></td>

        <td>
          <% judgment = prediction.judgments.last %>
          <% if judgment && judgment.status == "verified" %>
            <span class="text-success">✔</span>
          <% elsif judgment && judgment.status == "falsified" %>
            <span class="text-danger">❌</span>
          <% else %>
            <span class="text-info">⚫</span>
          <% end %>
          <%= link_to(prediction.statement, prediction_url(prediction)) %>

        </td>

        <% if prediction.wagers.empty? %>
          <td>N/A</td>
        <% else %>
          <td><%= prediction.average_wager %>%</td>
        <% end %>

        <% if prediction.deadline < Time.now %>
          <td><%= distance_of_time_in_words(prediction.deadline, Time.now) %> ago</td>
        <% else %>
          <td>in <%= distance_of_time_in_words(prediction.deadline, Time.now) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
var localTour;

localTour = new Shepherd.Tour({
  defaults: {
    classes: 'shepherd-theme-arrows',
    scrollTo: true
  }
});

localTour.addStep('overview-step', {
  text: "The predictions page show a list of the 50 most recent predictions.",
  attachTo: '#prediction-statements top',
  classes: 'shepherd-theme-arrows',
  buttons: [
  {
    text: 'End',
    action: localTour.cancel
  },
  {
    text: 'Next',
    action: localTour.next
  }
  ]
});
</script>
