<h1>Predictions</h1>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th id="prediction-statement-column">Statement</th>
      <th id="average-probability-column">Average Probability</th>
      <th id="deadline-column">Deadline</th>
    </tr>
  </thead>
  <tbody>
    <% count = 0 %>

    <% @predictions.each do |prediction| %>
    <% count += 1 %>
      <tr>
        <td><%= count %></td>

        <td>
          <% judgment = prediction.judgments.last %>
          <% if judgment && judgment.status == "verified" %>
            <span class="text-success">✔</span>
          <% elsif judgment && judgment.status == "falsified" %>
            <span class="text-danger">❌</span>
          <% else %>
            <span class="text-info">⚫</span>
          <% end %>
          <%= link_to(prediction.statement, prediction_url(prediction)) %>

        </td>

        <% if prediction.wagers.empty? %>
          <td>N/A</td>
        <% else %>
          <td><%= prediction.average_wager %>%</td>
        <% end %>

        <% if prediction.deadline < Time.now %>
          <td><%= distance_of_time_in_words(prediction.deadline, Time.now) %> ago</td>
        <% else %>
          <td>in <%= distance_of_time_in_words(prediction.deadline, Time.now) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
var localTour;

localTour = new Shepherd.Tour({
  defaults: {
    classes: 'shepherd-theme-arrows',
    scrollTo: true
  }
});

localTour.addStep('overview-step', {
  title: "<strong>Predictions Tutorial</strong>",
  text: "The predictions page consists of a list of the 50 most recent predictions.",
  classes: 'shepherd-theme-arrows',
  buttons: [
  {
    text: 'Exit',
    action: localTour.cancel
  },
  {
    text: 'Next',
    action: localTour.next
  }
  ]
});

localTour.addStep('statement-step', {
  title: "<strong>Predictions Tutorial</strong>",
  text: "<p>The statement column of the table contains the prediction statements and are marked with symbols disignating their judgment-status.</p>" +
  "<p class='text-info'>⚫: Undetermined</p>" +
  "<p class='text-success'>✔: Verified</p>" +
  "<p class='text-danger'>❌: Falsified</p>",
  classes: 'shepherd-theme-arrows',
  attachTo: "#prediction-statement-column bottom",
  buttons: [
  {
    text: 'Back',
    action: localTour.back
  },
  {
    text: 'Next',
    action: localTour.next
  }
  ]
});

localTour.addStep('average-probability-step', {
  title: "<strong>Predictions Tutorial</strong>",
  text: "<p>The average probabilty column respresents the sum of the wagers made on that prediction " +
  "divided by the total number of users that made wagers.</p> " +
  "<p>This should give you an idea about how likely other users believe the prediction to be.</p>",
  classes: 'shepherd-theme-arrows',
  attachTo: "#average-probability-column bottom",
  buttons: [
  {
    text: 'Back',
    action: localTour.back
  },
  {
    text: 'Next',
    action: localTour.next
  }
  ]
});

localTour.addStep('deadline-step', {
  title: "<strong>Predictions Tutorial</strong>",
  text: "The deadline column respresents the 'due date' of that prediction. " +
  "If it is in the past tense, then the truth-value of the statement should already be known. " +
  "Otherwise, there is still time left in which it may occur.",
  classes: 'shepherd-theme-arrows',
  attachTo: "#deadline-column bottom",
  buttons: [
  {
    text: 'Back',
    action: localTour.back
  },
  {
    text: 'Next',
    action: localTour.next
  }
  ]
});

localTour.addStep('visit-step', {
  title: "<strong>Predictions Tutorial</strong>",
  text: "Click on a predictions statement in order to learn more about that prediction.",
  classes: 'shepherd-theme-arrows',
  buttons: [
  {
    text: 'Back',
    action: localTour.back
  },
  {
    text: 'End',
    action: localTour.next
  }
  ]
});

$(document).ready(function () {
  $('#tutorial-button').on('click', function (event) {
    event.preventDefault();
    localTour.start();
  });
});
</script>
