<div class="jumbotron" id="welcome-jumbotron">
  <h2>Welcome to <strong>PredictionNote</strong></h2>

  <p>Find out just how sure you should be, and get better at being only as sure as the facts justify.</p>

  <div>
    <p><a id="getting-started-button" class="btn btn-primary btn-lg">Get Started</a></p>
  </div>
</div>

<div class='row well well-sm' style="margin:0" id="quotes-well">
  <div class='col-lg-offset-2 col-lg-8'>
    <div class="carousel slide" data-ride="carousel" id="quote-carousel">
      <!-- Bottom Carousel Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#quote-carousel" data-slide-to="1"></li>
        <li data-target="#quote-carousel" data-slide-to="2"></li>
      </ol>

      <!-- Carousel Slides / Quotes -->
      <div class="carousel-inner">

        <!-- Quote 1 -->
        <div class="item active">
          <blockquote>
            <div class="row">
              <div class="col-lg-offset-2 col-lg-9">
                <p><%= @quotes.first.quote %></p>
                <small><%= @quotes.first.author %></small>
              </div>
            </div>
          </blockquote>
        </div>
        <!-- Quote 2 -->
        <div class="item">
          <blockquote>
            <div class="row">
              <div class="col-lg-offset-2 col-lg-9">
                <p><%= @quotes.second.quote %></p>
                <small><%= @quotes.second.author %></small>
              </div>
            </div>
          </blockquote>
        </div>
        <!-- Quote 3 -->
        <div class="item">
          <blockquote>
            <div class="row">
              <div class="col-lg-offset-2 col-lg-9">
                <p><%= @quotes.third.quote %></p>
                <small><%= @quotes.third.author %></small>
              </div>
            </div>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

<br>

<script>
var getStartedTour;

getStartedTour = new Shepherd.Tour({
  defaults: {
    classes: 'shepherd-theme-arrows',
    scrollTo: true
  }
});

getStartedTour.addStep('welcome-step', {
  title: "Getting Started Tutorial",
  text: "Welcome to <strong>PredictionNote</strong>! " +
  "<strong>PredictionNote</strong> is a website for making predictions, " +
  "placing wagers (don't worry, no money is involved), " +
  "and helping judge the predictions of others.",
  classes: 'shepherd-theme-arrows',
  buttons: [
  {
    text: 'Exit',
    action: getStartedTour.cancel
  },
  {
    text: 'Next',
    action: getStartedTour.next
  }
  ]
});

<% unless signed_in? %>
getStartedTour.addStep('sign-in-step', {
  title: "Getting Started Tutorial",
  text: "In order to get the most of <strong>PredictionNote</strong>, you must be signed in. " +
  "If you just want to try things out, there is also a <strong>Guest User</strong> option. " +
  "Click <strong>Sign In</strong> in the upper right to navigate to the sign in page.",
  attachTo: '#sign-in-button bottom',
  classes: 'shepherd-theme-arrows',
  buttons: [
  {
    text: 'Next',
    action: getStartedTour.next
  }
  ]
});

getStartedTour.addStep('sign-up-step', {
  title: "Getting Started Tutorial",
  text: "If you want your own account so you can track your progress, " +
  "just click the <strong>Sign Up</strong> button and enter a username and 6 or more digit password.",
  attachTo: '#sign-up-button bottom',
  classes: 'shepherd-theme-arrows',
  buttons: [
  {
    text: 'Next',
    action: getStartedTour.next
  }
  ]
});

<% end %>

getStartedTour.addStep('tutorial-step', {
  title: "Getting Started Tutorial",
  text: "At any time you can click this <strong>Tutorial</strong> button to get an explanation of all the main features on the page. " +
  "In fact, click it right now for an explanation of each of the other buttons in the navigation bar.",
  attachTo: '#tutorial-button bottom',
  classes: 'shepherd-theme-arrows',
  buttons: [
  {
    text: 'End',
    action: getStartedTour.next
  }
  ]
});
</script>

<script>
var localTour;

localTour = new Shepherd.Tour({
  defaults: {
    classes: 'shepherd-theme-arrows',
    scrollTo: true
  }
});

<% if signed_in? %>
localTour.addStep('dropdown-step', {
  title: "Home Tutorial",
  text: "If you click on your username in the upper right corner, a dropdown menu will appear with " +
  "a <strong>Statistics</strong> and <strong>Settings</strong> buttons. The former shows your calibration and recent history, " +
  "and the later let's you change your account configuration.",
  attachTo: '#dropdown-button bottom',
  classes: 'shepherd-theme-arrows',
  buttons: [
  {
    text: 'Exit',
    action: localTour.cancel
  },
  {
    text: 'Next',
    action: localTour.next
  }
  ]
});
<% end %>

localTour.addStep('prediction-note-step', {
  title: "Home Tutorial",
  text: 'The <strong>PredictionNote</strong> button is a link to the home page, so if you ever want to get back here, just click it.',
  attachTo: '#home-page-button bottom',
  classes: 'shepherd-theme-arrows',
  buttons: [
  {
    text: 'Exit',
    action: localTour.cancel
  },
  {
    text: 'Next',
    action: localTour.next
  }
  ]
});

localTour.addStep('predictions-step', {
  title: "Home Tutorial",
  text: 'The <strong>Predictions</strong> button leads to an index containing the 50 latest predictions.',
  attachTo: '#predictions-button bottom',
  classes: 'shepherd-theme-arrows',
  buttons: [
  {
    text: 'Back',
    action: localTour.back
  },
  {
    text: 'Next',
    action: localTour.next
  }
  ]
});

localTour.addStep('new-prediction-step', {
  title: "Home Tutorial",
  text: 'The <strong>New Prediction</strong> button is where you want to click if you want to make your very own prediction.',
  attachTo: '#new-prediction-button bottom',
  classes: 'shepherd-theme-arrows',
  buttons: [
  {
    text: 'Back',
    action: localTour.back
  },
  {
    text: 'Next',
    action: localTour.next
  }
  ]
});

localTour.addStep('awaiting-judgment-step', {
  title: "Home Tutorial",
  text: "The <strong>Awaiting Judgment</strong> button shows you only the predictions that are past their deadline " +
  " that haven't already been judged. That little number inside the button represents the total number of outstanding predictions. " +
  "Do your part and bring down this number by judging predictions!",
  attachTo: '#awaiting-judgment-button bottom',
  classes: 'shepherd-theme-arrows',
  buttons: [
  {
    text: 'Back',
    action: localTour.back
  },
  {
    text: 'End',
    action: localTour.next
  }
  ]
});

$(document).ready(function() {
  $('#quote-carousel').carousel({
    pause: true,
    interval: 5000,
  });

  $("#getting-started-button").on("click", function (event) {
    event.preventDefault();
    getStartedTour.start();
  });

  $('#tutorial-button').on('click', function (event) {
    event.preventDefault();
    localTour.start();
  });
});
</script>
