<h1>Statistics for <%= @user.username %></h1>

<br>

<h3>Calibration Graph</h3>

<br>

<h3>Most Recent Predictions</h3>

<% if @user.predictions.length < 1 %>
<%= @user.username %> hasn't made any predictions yet...
<% else %>
<ul>
  <% @user.predictions.each do |prediction| %>
  <li><%= link_to(prediction.statement, prediction) %></li>
  <% end %>
</ul>
<% end %>

<br>

<h3>Most Recent Wagers</h3>

<% if @user.wagers.length < 1 %>
<%= @user.username %> hasn't made any wagers yet...
<% else %>
<ul>
  <% @user.wagers.each do |wager| %>
  <li>
    <%= link_to(wager.prediction.statement, wager.prediction) %>
    <%= wager.probability %>%
  </li>
  <% end %>
</ul>
<% end %>

<h3>Most Recent Judgments</h3>

<% if @user.judgments.length < 1 %>
<%= @user.username %> hasn't made any judgments yet...
<% else %>
<ul>
  <% @user.judgments.each do |judgment| %>
  <li>
    <%= link_to(judgment.prediction.statement, predictions_url(judgment.prediction)) %>
    <%= wager.probability %> was <% judgment.status %>.
  </li>
  <% end %>
</ul>
<% end %>
