<h1>Statistics for <%= @user.username %></h1>

<br>

<h3>Calibration Graph</h3>

<br>

<h3>Most Recent Predictions</h3>

<% if @predictions.empty? %>
<%= @user.username %> hasn't made any predictions yet...
<% else %>
<ul>
  <% @predictions.each do |prediction| %>
  <li><%= link_to(prediction.statement, prediction) %></li>
  <% end %>
</ul>
<% end %>

<h3>Most Recent Wagers</h3>

<% if @wagers.empty? %>
<%= @user.username %> hasn't made any wagers yet...
<% else %>
<ul>
  <% @wagers.each do |wager| %>
  <li>
    <%= link_to(wager.prediction.statement, wager.prediction) %>
    <%= wager.probability %>%
  </li>
  <% end %>
</ul>
<% end %>

<h3>Most Recent Judgments</h3>

<% if @judgments.empty? %>
  <%= @user.username %> hasn't made any judgments yet...
<% else %>
  <ul>
    <% @judgments.each do |judgment| %>
      <li>
        <% if judgment.status == "verified" %>
        <span class="text-success">✔</span>
        <% elsif judgment.status == "falsified" %>
        <span class="text-danger">❌</span>
        <% else %>
        <span class="text-info">⚫</span>
        <% end %>
        <%= link_to(judgment.prediction.statement, predictions_url(judgment.prediction)) %>
      </li>
    <% end %>
  </ul>
<% end %>
